* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  font-size: 70px;
  position: fixed;
  top: 0;
}

header, footer {
  font-family: 'Dancing Script', cursive;
  width: 100%;
  text-align: center;
  background: rgba(227, 192, 186, 0.5);
  z-index: 1;
}

.container {
  width: 1000px;
  margin: 100px auto;
}

.row {
  text-align: center;
  margin-top: 50px;
}

.object {
  display: inline-block;
  position: relative;
}

.discount {
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Dancing Script', cursive;
}

span.discount {
  background-color: #6bba73;
}

.object:nth-child(2) span.discount {
  background: #ea705d;
}

.over-object {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 15px;
  color:transparent;
}

.heart {
  font-size: 250px;
}

.carrello {
  font-size: 22px;
  font-family: 'Dancing Script', cursive;
}

.object:hover .heart {
  color: rgba(206, 59, 37, 0.5);
}

.object:hover .carrello {
  color: rgb(206, 59, 37);
}


footer {
  font-size: 30px;
  position: fixed;
  bottom: 0;
}
