* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  text-align: center;
  background: rgba(227, 192, 186, 0.5);
}

.container {
  width: 1000px;
  margin: auto;
  margin-top: 100px;
}

.row {
  text-align: center;
  margin-top: 50px;
}

.object {
  display: inline-block;
  position: relative;
}

.discount {
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Dancing Script', cursive;
}

span.discount {
  background-color: green;
}

.object:nth-child(2) span.discount {
  background: red;
}

.heart {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 15px;
  color:transparent;
  font-size: 25px;
}

.object:hover .heart {
  color: red;
}
